Delete my account <br>
This action can not be undone<br>
All of your posts will be permanently deleted
<form class="" action="/delete" method="get">
  <input name="_method" type="hidden" value="delete">
  <input type="submit" value="I'm leaving forever this time">
</form>
