<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PostPile</title>
    <link rel="stylesheet" type="text/css" href="main.css">
<link href="https://fonts.googleapis.com/css?family=Assistant:300|Hammersmith+One" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
<header>
<ul>
  <li><a href="/"><span class="logo pagetitle">P</span> <i class="fas fa-home"></i></a></li>
  <% if session[:user] == nil %>
    <li><a href="/signup">Sign up</a></li>
      <li><a href="/login">Log in</a></li>
      <% else %>
            <li><a href="/account"> <img class="avatar" src="<%= session[:user].avatar_url %>" onerror='this.src="http://postpile.herokuapp.com/images/gen.png"'>
               <%= session[:user].username %></a></li>
            <li><a href="/post">Post</a></li>
            <li><a href="/logout">Log out</a></li>
      <% end %>
      <li><a href="https://github.com/mwissig/Postpile"><i class="fab fa-github"></a></i></li>
</ul>
</header>
<div class="container">
  <div class="innercontainer">
<%= yield %>
</div>
</div>
<script src="app.js"></script>
  </body>
</html>
