<h1>Log in</h1>
<p>New to our service? Click <a href="/signup">Click here</a> to sign up.</p>
<form class="" action="/login" method="post">
  <input type="email" placeholder="Email" name="email"><br>
  <input type="password" placeholder='Password' name="password"><br>
  <input type="submit" value="Log in">
</form>
