<p>“Real isn't how you are made,' said the Skin Horse. 'It's a thing that happens to you. When a child loves you for a long, long time, not just to play with, but REALLY loves you, then you become Real.'</p>

<p>'Does it hurt?' asked the Rabbit. </p>

<p>'Sometimes,' said the Skin Horse, for he was always truthful. 'When you are Real you don't mind being hurt.' </p>

<p>'Does it happen all at once, like being wound up,' he asked, 'or bit by bit?' </p>

<p>'It doesn't happen all at once,' said the Skin Horse. 'You become. It takes a long time. That's why it doesn't happen often to people who break easily, or have sharp edges, or who have to be carefully kept. Generally, by the time you are Real, most of your hair has been loved off, and your eyes drop out and you get loose in the joints and very shabby. But these things don't matter at all, because once you are Real you can't be ugly, except to people who don't understand.” </p>
<p>― Margery Williams Bianco, The Velveteen Rabbit</p>
